@import "custom";

html {
  overflow-x: hidden;
}
body {
  font-family: 'Cabin', sans-serif;
}

.btn {
  &.btn-primary {
    color: $white;
    background-color: $brown;
    border-color: $brown;
    transition: background-color 1s ;
    &:hover {
      background-color: $orange;
      border-color: $orange;
    }
  }
}

/* Welcome section */
.welcome-section {
  padding: 3rem 0;

  h1 {
    font-weight: 700;
  }
}

@keyframes TransitioningBackground {
  0% {
    background-position: 1% 0%;
  }
  50% {
    background-position: 99% 100%;
  }
  100% {
    background-position: 1% 0%;
  }
}

.welcome-btn {
  color: $white;
  background-color: $brown;
  border-color: $white;
  margin-top: 2rem;
  //Background color shift
  overflow: hidden;
  background-image: (linear-gradient(270deg, $brown, $orange));
  background-size: 400% 400%;
  animation: TransitioningBackground 6s ease infinite;

  &:hover {
    background-image: (linear-gradient(to left, $orange, $brown));
    // To ease the button growth on hover
    transition: 0.2s;
    cursor: pointer;
  }
}

/* Contact section */
.contact-section {
  margin: 2rem 0;

  a {
    color: $orange;
    transition: color 0.5s ease;
    &:hover {
      color: $brown;
    }
  }
  .social {
    margin-top: 3em;
    
    a {
      color: $orange;
      transition: color 0.5s ease;
      &:hover {
        color: $brown;
      }
  }
  }
  .card {
    border-bottom: 0.25rem solid $orange;
  }
}

/* Dashboard > Cards */
.card-box {
  position: relative;
  color: #fff;
  padding: 20px 10px 40px;
  margin: 20px 0px;
}
.card-box:hover {
  text-decoration: none;
  color: #f1f1f1;
}
.card-box:hover .icon i {
  font-size: 100px;
  transition: 1s;
  -webkit-transition: 1s;
}
.card-box .inner {
  padding: 5px 10px 0 10px;
}
.card-box h3 {
  font-size: 27px;
  font-weight: bold;
  margin: 0 0 8px 0;
  white-space: nowrap;
  padding: 0;
  text-align: left;
}
.card-box p {
  font-size: 15px;
}
.card-box .icon {
  position: absolute;
  top: auto;
  bottom: 5px;
  right: 5px;
  z-index: 0;
  font-size: 72px;
  color: rgba(0, 0, 0, 0.15);
}
.card-box .card-box-footer {
  position: absolute;
  left: 0px;
  bottom: 0px;
  text-align: center;
  padding: 3px 0;
  color: rgba(255, 255, 255, 0.8);
  background: rgba(0, 0, 0, 0.1);
  width: 100%;
  text-decoration: none;
}
.card-box:hover .card-box-footer {
  background: rgba(0, 0, 0, 0.3);
}
.bg-blue {
  background-color: #00c0ef !important;
}
.bg-green {
  background-color: #00a65a !important;
}
.bg-orange {
  background-color: #f39c12 !important;
}
.bg-red {
  background-color: #d9534f !important;
}


/* Footer */
footer {
  background-color: $dark-brown;
  color: $white;

  a {
    color: $white;
    transition: color 0.5s ease;
    &:hover {
      color: $orange;
    }
  }
}